#wrapper {
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: 10px;
	margin-right: 10px;
}

#header {
	width: 100%;
}

#header h3 {
	width: 100%;
	text-align: center;
	color: blue;
}

.error {
	color: red;
	margin-top: 1px;
}

.info {
	color: blue;
	margin-top: 1px;
}

.form-info {
	font-style: italic;
	margin-bottom: 0px;
}

a .btn {
	margin-left: 5px;
	margin-right: 5px;
}

.read-only-form input, .read-only-form textarea {
	pointer-events: none;
	background-color: lightgrey;
	border: 1px solid grey;
}

table {
	width: 80%
}

tr td:last-child, tr th:last-child {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}

#pagination {
	text-align: center;
}

#pagination nav, #pagination select {
	display: inline-block;
}
