<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='aemtest.user'}"></sly>

<div id="wrapper">

	<div id="header">
		<h3>Users Management</h3>
	</div>

	<hr>
	<br>

	<div class="container mb-3">

		<p class="h4 mb-4">View User</p>

		<form action="#" method="POST">

			<div class="form-group mb-4 col-4">
				<label class="form-label">Avatar</label> <br> <img id="avatar"
					src="" alt="">
			</div>

			<div class="form-group mb-4 col-4">
				<label class="form-label">First Name</label>
				<input id="firstName" type="text"
					class="form-control col-auto form-input-fix"
					placeholder="First Name" readonly />
			</div>

			<div class="form-group mb-4 col-4">
				<label class="form-label">Last Name</label>
				<input id="lastName" type="text"
					class="form-control col-auto form-input-fix"
					placeholder="Last Name" readonly />
			</div>

			<div class="form-group mb-4 col-4">
				<label class="form-label">Email</label>
				<input id="email" type="text"
					class="form-control col-auto form-input-fix" placeholder="Email"
					readonly />
			</div>

		</form>

		<hr>

		<a class="btn btn-primary btn-sm" href="/content/aemtest/us/en/users.html">Back to Users List</a>

	</div>
</div>
