<sly
	data-sly-use.options="com.adobe.cq.wcm.core.components.models.form.Options"
	data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	data-sly-test.isNotEmpty="${options.items.size}">
<fieldset
	class="cmp-form-options cmp-form-options--${options.type.value}">
	<div class="mb-3">
		<sly
			data-sly-test="${options.type.value == 'checkbox' || options.type.value == 'radio'}">
		<legend class="cmp-form-options__legend">${options.title}</legend> <label
			class="cmp-form-options__field-label form-label"
			data-sly-repeat.optionItem="${options.items}"> <input
				class="cmp-form-options__field cmp-form-options__field--${options.type.value}"
				type="${options.type.value}" name="${options.name}"
				value="${optionItem.value}" checked="${optionItem.selected}"
				disabled="${optionItem.disabled}" /> <span
			class="cmp-form-options__field-description">${optionItem.text}</span>
		</label> </sly>
		<sly
			data-sly-test="${options.type.value == 'drop-down' || options.type.value == 'multi-drop-down'}">
		<label class="cmp-form-options__label form-label" for="${options.id}">${options.title}</label>
		<br>
		<select
			class="cmp-form-options__field cmp-form-options__field--${options.type.value} form-select"
			name="${options.name}" id="${options.id}"
			data-sly-list.optionItem="${options.items}"
			data-sly-attribute.multiple="${options.type.value == 'multi-drop-down'}">
			<option value="${optionItem.value}" selected="${optionItem.selected}"
				disabled="${optionItem.disabled}">${optionItem.text}</option>
		</select> </sly>
		<p class="cmp-form-options__help-message"
			data-sly-test="${options.helpMessage}">${options.helpMessage}</p>
	</div>
</fieldset>
</sly>
<sly
	data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, classAppend='cmp-form-options'}"></sly>
