<sly data-sly-test="${wcmmode.edit}">
    <div class="cq-placeholder cq-marker-start" data-emptytext="User Form"></div>
</sly>

<form class="user-form needs-validation" novalidate
      method="post"
      action="${properties.action}">
    <input type="hidden" id="csrf-token" name="csrf-token">
    <div data-sly-resource="${'first-name' @ resourceType='aemtest/components/content/form-elements/textfield', selectors='First Name'}"></div>
    <div data-sly-resource="${'last-name' @ resourceType='aemtest/components/content/form-elements/textfield', selectors='Last Name'}"></div>
    <div data-sly-resource="${'email' @ resourceType='aemtest/components/content/form-elements/textfield', selectors='Email'}"></div>
    <div data-sly-resource="${'gender' @ resourceType='aemtest/components/content/form-elements/options'}"></div>
    <div data-sly-resource="${'remark' @ resourceType='aemtest/components/content/form-elements/textfield', selectors='Remark'}"></div>

    <button class="btn btn-primary" type="submit">Submit</button>

</form>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='aemtest.formsubmit'}"></sly>
