<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.all @ categories='aemtest.users'}"></sly>

<div id="wrapper">

    <div id="header">
        <h3>Users</h3>
    </div>
    <hr>
    <br>
    <div class="container mb-3">
        <div id="pagination">
            <nav aria-label="Page navigation example">
            </nav>

        </div>
        <table id="user-list" class="table table-bordered table-striped">
            <thead class="table-dark">
            <tr>
                <th>No</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>

        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">

            </ul>
        </nav>

    </div>
</div>
