<sly data-sly-test.id="${properties.id}"/>
<sly data-sly-test.label="${properties.label}"/>
<sly data-sly-test.name="${properties.name}"/>
<sly data-sly-test.inputType="${properties.inputType}"/>
<sly data-sly-test.placeholder="${properties.placeholder}"/>
<sly data-sly-test.required="${properties.required}"/>
<sly data-sly-test.requiredMessage="${properties.requiredMessage}"/>
<sly data-sly-test.regExpMessage="${properties.regularExpressionMessage}"/>
<sly data-sly-test.maxLength="${properties.characterLimit? properties.characterLimit : ''}"/>

<sly data-sly-test="${wcmmode.edit}">
    <sly data-sly-test.selector="${request.requestPathInfo.selectors[0]}"/>
    <div class="cq-placeholder cq-marker-start" data-emptytext="${selector ? selector : 'Form - TextField'}"></div>
</sly>

<sly data-sly-test="${name}">
    <sly data-sly-test="${inputType=='text' || inputType=='email'}">
        <div class="text-input form-group mb-3" data-regex-msg="${regExpMessage}">
            <label class="form-label" for="${id}">${label}</label>
            <input type="${inputType}" data-attribute-email="${inputType=='email'?'email-field':''}"
                   class="form-control" id="${id}" placeholder="${placeholder}"
                   data-sly-attribute.required="${required=='true'}"
                   name="${name}" maxlength="${maxLength}" pattern="${inputType == 'email' ? '^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$' : '^[a-zA-Z ]+$'}">
            <sly data-sly-test="${requiredMessage || regExpMessage}">
                <div class="invalid-feedback">${requiredMessage}</div>
            </sly>
        </div>
    </sly>
    <sly data-sly-test="${inputType=='textarea'}">
        <div class="text-input form-group mb-3">
            <label class="form-label" for="${id}">${label}</label>
            <textarea data-attr-value="${properties.attrValue}" class="form-control" id="${id}"
                      placeholder="${placeholder}"
                      data-sly-attribute.required="${required=='true'}"
                      name="${name}" maxlength="${maxLength}"></textarea>
            <sly data-sly-test="${requiredMessage}">
                <div class="invalid-feedback">${requiredMessage}</div>
            </sly>
        </div>
    </sly>
</sly>